<!DOCTYPE html>
<html lang="en">
    <style>

        *{
            background-color: #D0DDD7;
        
        }
  
        
    </style>
<body>    
  <h1>Uma frase para você:</h1>
    <h2>"<%= frase.content %>"</h2>
    <h2>- <%= frase.author %></h2>
    
    <h2>Sua idade é: <%= idade.age %></h2>
</body>
</html>